[Unit]
Description=ASTRA User Interface
Wants=astra-motion.service
After=astra-motion.service

[Service]
Type=simple
User=astra-admin
WorkingDirectory=/home/astra-admin/Programs/ASTRA/src/astra
ExecStart=/home/astra-admin/radioconda/bin/poetry run astra-ui
ExecStartPre=/bin/sleep 1
Restart=always
Environment="PATH=/home/astra-admin/Programs/ASTRA/src/astra:/home/astra-admin/radioconda/bin/poetry:/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target