#
# systemd configuration for indiserver
#
# Default services must match associated ASTRA hardware. 
#
# 
#
[Unit]
Description=INDI Server
After=network.target

[Service]
User=astra-admin
Group=dialout
Type=simple
# Startup using indi-web to provide remote debug interface
ExecStart=/home/astra-admin/radioconda/bin/indi-web -l /data/logs/indi-web.log
Restart=on-failure

[Install]
WantedBy=multi-user.target